/*
========================================================================================

       default params

 ========================================================================================
 */


 params.reads = "$baseDir/Test/*{R1,R2}*.fastq.gz"
 params.out = "$baseDir/output"

 params.ref = "$baseDir/Pfalciparum_MaRS/pf_3D7_Ref/mars_pf_ref.fasta"
 params.adapter = "$baseDir/Pfalciparum_MaRS/pf_3D7_Ref/adapters.fa"
 params.voi = "$baseDir/Pfalciparum_MaRS/pf_3D7_Ref/voinew3.csv"
 params.gff = "$baseDir/Pfalciparum_MaRS/pf_3D7_Ref/mars_pf.gff"

 params.dbName = "pf_3D7_snpEff_db"
 params.snpeff_config = "$baseDir/Pfalciparum_MaRS/pf_3D7_snpEff_db"


 //  ##### Pvivax referance files and folders
 // params.snpeff_config = "$baseDir/Pvivax_MaRS/pv_sal_snpEff_db"
 //params.dbName = "pv_sal_snpEff_db"

 //params.adapter = "$baseDir/Pvivax_MaRS/pv_sal_Ref/adapters.fa"
 //params.gff = "$baseDir/Pvivax_MaRS/pv_sal_Ref/PV_sal1.gff"
 //params.ref = "$baseDir/Pvivax_MaRS/pv_sal_Ref/PV-salI.fasta"
 //params.voi = "$baseDir/Pvivax_MaRS/pv_sal_Ref/voinew3.csv"

// Memory and CPU usage
 params.memory = "8g"
 params.cpus = 1



 /*

 ========================================================================================

     Profiles - docker, singularity

 ========================================================================================

 */

profiles {


  docker {
      process.container = 'docker.io/dpatel89/nfnest_image'
      docker.enabled = true

  }

  singularity {
    process.container = "library://yyr4/remote/652589bafc0fe379bb6f9bdc:latest"
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/assets"
    singularity.autoMounts = true

    //these are specific to running on CDC scicomp
    process.shell = ['/bin/bash']
    singularity.runOptions = "-B /scicomp:/scicomp"

  }

}


/*

========================================================================================

                        Adding manifest

========================================================================================

*/
VERSION = '1.0.0'
manifest {
    name            = "yyr4/Nf-NeST"
    author          = "Dhruvi Patel"
    description     = 'Nextflow Next-generation Sequence-analysis Toolkit (Nf-NeST) : A standardized bioinformatics framework for analyzing SNPs in next-generation sequencing data'
    homePage        = "git@github.com:yyr4/Nf-NeST.git"
    mainScript      = "main.nf"
    nextflowVersion = ">=20.07"
    version         =  VERSION
}


/*

========================================================================================

    Nextflow Metrics and Reports

========================================================================================

*/


timeline {
  enabled = true
  file = "$params.out/timeline.html"
  overwrite = true
}

report {

  enabled = true
  file    = "$params.out/report.html"
  overwrite = true

}
