/*
 * default params
 */
 params.ref = "$baseDir/Ref/mars_pf_ref.fasta"
 params.snpeff_config = "$baseDir/6Genes_ref"
 params.reads = "$baseDir/Test/*{R1,R2}*.fastq.gz"
 params.adapter = "$baseDir/Ref/adapters.fa"
 params.out = "$baseDir/output"
 params.bed = "$baseDir/Ref/mars_pf.bed"
 params.voi = "$baseDir/Ref/voinew3.csv"
 params.memory = "8g"
 params.cpus = 1
 params.dbName = "6Genes_ref"


 //  ##### Pvivax referance files and folders
  // params.snpeff_config = "$baseDir/PV_db_ref"
 // params.dbName = "PV_db_ref"
 // params.bed = "$baseDir/PV_ref/PvP01_Drug_resistance_Genes.bed"
 // params.ref = "$baseDir/PV_ref/PvP01_Drug_resistance_Genes.fasta"

profiles {


  docker {
      process.container = 'docker.io/dpatel89/nfnest_image'
      docker.enabled = true

  }

}


/*
                                    Adding manifest
*/
VERSION = '1.0.0'
manifest {
    name            = "yyr4/Nf-NeST"
    author          = "Dhruvi Patel"
    description     = 'Nextflow Next-generation Sequence-analysis Toolkit (Nf-NeST) : A standardized bioinformatics framework for analyzing SNPs in next-generation sequencing data'
    homePage        = "git@github.com:yyr4/Nf-NeST.git"
    mainScript      = "main.nf"
    nextflowVersion = ">=20.07"
    version         =  VERSION
}


timeline {
  enabled = true
  file = "$params.out/timeline.html"
}
