/*
 * default params
 */

params.ref = "$HOME/nf-Nest/Ref/mars_pf_ref.fasta"
params.reads = "$HOME/nf-Nest/Test/*{R1,R2}*.fastq.gz"
params.adapter = "$HOME/nf-Nest/Ref/adapters.fa"
params.out = "output"
params.snpeff_config = "$HOME/nf-Nest/6Genes_ref"
params.pyscripts = "$HOME/nf-Nest/pyscripts"
params.bed = "$HOME/nf-Nest/Ref/mars_pf.bed"
params.voi = "$HOME/nf-Nest/Ref/voinew3.csv"
params.memory = "8g"
params.cpus = 1


profiles {


  docker {
      process.container = 'dpatel89/nfnest_image'
      docker.enabled = true

  }

}


/*
                                    Adding manifest
*/
manifest {
    name            = "yyr4/Nf-NeST"
    author          = "Dhruvi Patel"
    description     = 'Nextflow Next-generation Sequence-analysis Toolkit (Nf-NeST) : A standardized bioinformatics framework for analyzing SNPs in next-generation sequencing data'
    homePage        = "https://github.com/yyr4/Nf-NeST"
    mainScript      = "main.nf"
    nextflowVersion = ">=20.07"

}


timeline {
  enabled = true
  file = "$params.out/timeline.html"
}
